<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DecoupledWcfServices.Service1">
        <endpoint address="Service1.svc" binding="webHttpBinding" contract="DecoupledWcfServices.IService1" behaviorConfiguration="RestBehavior"/>
        <endpoint address="net.pipe://localhost/Service1/Service1.svc" binding="netNamedPipeBinding" contract="DecoupledWcfServices.IService1"/>
      </service>
      <service name="DecoupledWcfServices.Service2">
        <endpoint address="Service1.svc" binding="webHttpBinding" contract="DecoupledWcfServices.IService2" behaviorConfiguration="RestBehavior"/>
        <endpoint address="net.pipe://localhost/Service2/Service2.svc" binding="netNamedPipeBinding" contract="DecoupledWcfServices.IService2"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <SampleBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SampleBehavior" type="DecoupledWcfServices.Behavior.SampleBehaviorExtensionElement, DecoupledWcfServices, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
